<StackLayout class="Page">
  <GridLayout columns="*" rows="*">
    <ScrollView [scrollBarIndicatorVisible]="false">

      <GridLayout rows="*,auto" columns="*" class="container">
        <AbsoluteLayout col="0" row="0">
          <GridLayout top="0" left="0" rows="*,*" columns="*" class="bg">
            <StackLayout row="0" col="0" class="image"></StackLayout>
            <StackLayout row="1" col="0" class="content" [style.paddingTop]="spaceCardMidle">
              <Label class="name" text="Cheryl"></Label>
              <Label class="desc" text="When i first came here i fell in love with this such a miraculous place, Coastline and buildings are beautiful, what a wonderful travel."></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout top="0" left="0" rows="*,auto,*" columns="*" class="card">
            <StackLayout (loaded)="cardMiddleLoaded()" #cardMiddle row="1" col="0">
              <Label class="name" text="Manarola"></Label>
              <Label class="desc" text="Manarola is a little town located in Italy, very beautiful and creative place."></Label>
            </StackLayout>
          </GridLayout>
        </AbsoluteLayout>
        <GridLayout columns="auto,20,*" rows="*" class="footer" col="0" row="1">
          <Button class="icon fas" col="0" row="0" text="&#xf004;"></Button>
          <Button col="2" row="0" text="Order"></Button>
        </GridLayout>
      </GridLayout>

    </ScrollView>
  </GridLayout>
</StackLayout>

<!-- <StackLayout class="Page">
  <GridLayout columns="*" rows="*">
    <ScrollView [scrollBarIndicatorVisible]="false">
      <StackLayout class="p-10" width="100%">
        <StackLayout class="p-10" width="100%">
          <Button row="0" col="0" class="btn btn-primary" text="Start Recording" (tap)="startRecord()"></Button>
          <Button class="btn btn-primary" text="Stop Recording" (tap)="stopRecord()"></Button>
          <Button class="btn btn-outline text-info" text="Get File" (tap)="getFile()"></Button>
          <Label [text]="recordedAudioFile" class="gray" textWrap="true"></Label>
          <Button class="btn btn-primary" text="Play Recorded" (tap)="playRecordedFile()"></Button>
          <Button class="btn btn-primary" text="Pause Playback" (tap)="pauseAudio()"></Button>
          <Button class="btn btn-primary" text="Resume Playback" (tap)="resumeAudio()"></Button>
          <Button class="btn btn-primary" text="Stop Playback" (tap)="stopPlaying()"></Button>
        </StackLayout>

        <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="*, *, *" class="p-10">
          <Label row="0" colSpan="3" class="center text-primary h3" text="Welcome To Fight Club!" textWrap="true"></Label>
          <Button row="1" colSpan="3" class="btn btn-primary" text="Play Remote Audio" (tap)="playRemoteFile()"></Button>
          <Label row="2" colSpan="3" text="Note: Remote files can have a lag before playing due to processing and network speeds." class="h4" textWrap="true"></Label>
          <Label row="3" colSpan="3" text="" class="hr-dark" textWrap="true"></Label>
          <Button row="6" col="0" class="btn btn-primary" text="Pause" (tap)="pauseAudio()"></Button>
          <Button row="6" col="1" class="btn btn-primary" text="Resume" (tap)="resumePlayer()"></Button>
          <Button row="6" col="2" class="btn btn-primary" text="Stop" (tap)="stopPlaying()"></Button>
          <Label row="7" colSpan="3" text="Player Speed on Android only API 23+" textWrap="true"></Label>
          <Button row="8" col="0" text="Speed 1" (tap)="playSpeed1()"></Button>
          <Button row="8" col="1" text="Speed 1.5" (tap)="playSpeed15()"></Button>
          <Button row="8" col="2" text="Speed 2" (tap)="playSpeed2()"></Button>
          <Label row="9" col="0" [text]="'Duration: ' + audioTrackDuration" textWrap="true"></Label>
          <Label row="9" col="2" [text]="'Remaining: ' + remainingDuration" textWrap="true"></Label>
          <Label row="10" col="0" text="Volume Slider: " textWrap="true" class="m-t-20"></Label>
          <Slider row="10" col="1" colSpan="2" id="volumeSlider" minValue="0" maxValue="100" value="100" class="m-t-20"></Slider>
          <Label [text]="'Current Volume for Player ' + currentVolume" textWrap="true"></Label>
          <Button row="11" col="0" text="Mute" class="btn btn-primary" (tap)="muteTap()"></Button>
          <Button row="11" col="1" text="Unmute" class="btn btn-primary" (tap)="unmuteTap()"></Button>
          <Button row="12" col="0" colSpan="2" text="Go to 8 Seconds" class="btn btn-primary" (tap)="skipTo8()"></Button>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout> -->
