<StackLayout class="Page">
  <did-toolbar [canBack]="true" title="POSTiT!"></did-toolbar>
  <GridLayout columns="*" rows="*">
    <ScrollView [scrollBarIndicatorVisible]="false">
      <StackLayout>
        <Image src="~/assets/images/home.png" sharedTransitionTag="hero" width="150" height="150" />
        <Label [text]="postit.id"></Label>
        <Label [text]="postit.name"></Label>
        <Label [text]="postit.count"></Label>
      </StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
