@import '../../../scss/colors';

:host {

}

GridLayout.list-item {
  padding: 8;
  background-color: #325862;
  border-bottom-width: 1;
  border-bottom-color: #FFFFFF;
  Label {
    color: #c3f44d;
    font-weight: normal;
    &.icon {
      margin-left: 4;
    }
  }
  &.selected {
    background-color: #19414d;
    Label {
      font-weight: bold;
    }
  }
}
