<StackLayout class="Page">
  <did-toolbar [canBack]="true" title="POSTiT!"></did-toolbar>
  <GridLayout columns="*" rows="auto">
    <ScrollView [scrollBarIndicatorVisible]="false">
      <StackLayout class="content">
        <StackLayout class="header">
          <ng-container [formGroup]="categoryForm">
            <GridLayout columns="auto" rows="auto,auto">
              <did-input-text controlName="name" label="Categoria" col="0" row="0"></did-input-text>
              <did-button [fn]="save" col="0" row="2" text="Salvar"></did-button>
            </GridLayout>
          </ng-container>
        </StackLayout>
        <StackLayout class="categories">
          <Label class="title" text="Categorias"></Label>
          <ng-container *ngIf="postits.length else notFind">
            <ng-container *ngFor="let postit of postits">
              <did-list-item [item]="postit"></did-list-item>
            </ng-container>
          </ng-container>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>

<ng-template #notFind>
  <GridLayout class="not-find" columns="*, auto, *" rows="*,auto,auto,*" style="padding-top: 16; height: 100%;">
    <Label class="no_content_label" row="1" col="1" text="Nenhuma Categoria."></Label>
  </GridLayout>
</ng-template>
