<StackLayout class="Page">
  <did-toolbar [canBack]="true" title="POSTiT!"></did-toolbar>
  <GridLayout columns="*" rows="*">
    <StackLayout class="content">
      <StackLayout class="header">
        <ng-container [formGroup]="categoryForm">
          <GridLayout columns="auto" rows="auto,auto">
            <did-input-text [errors]="f.name.errors" controlName="name" label="Categoria" col="0" row="0"></did-input-text>
            <FlexboxLayout width="100%" col="0" row="2">
              <did-button *ngIf="selectPostit?.id != null" class="cancel" [fn]="cancel" text="Cancelar"></did-button>
              <did-button [fn]="submit" text="{{ selectPostit?.id ? 'Editar' : 'Salvar' }}"></did-button>
            </FlexboxLayout>
          </GridLayout>
        </ng-container>
      </StackLayout>
      <StackLayout class="categories">
        <Label class="title" text="Categorias"></Label>
        <ScrollView [scrollBarIndicatorVisible]="false">
          <StackLayout>
            <ng-container *ngIf="postits.length else notFind">
              <ng-container *ngFor="let postit of postits">
                <did-list-item (delete)="deleteItem($event)" (select)="selectItem($event)" [selected]="selectPostit" [item]="postit"></did-list-item>
              </ng-container>
            </ng-container>
          </StackLayout>
        </ScrollView>
      </StackLayout>
    </StackLayout>
  </GridLayout>
</StackLayout>

<ng-template #notFind>
  <GridLayout class="not-find" columns="*, auto, *" rows="*,auto,auto,*" style="padding-top: 16; height: 100%;">
    <Label class="no_content_label" row="1" col="1" text="Nenhuma Categoria."></Label>
  </GridLayout>
</ng-template>
