@import '../../scss/colors';

StackLayout.Page {
  background-color: $did-color-light;
}

StackLayout.content {
  StackLayout.header {
    border-bottom-width: 1;
    border-bottom-color: $did-color-contrast-one;
    GridLayout {
      margin: 16;
      FlexboxLayout {
        width: 100%;
        .cancel {
          --width: 80%;
          --margin: 0 8 0 0;
        }
      }
    }
  }
  StackLayout.categories {
    margin: 16;
    Label.title {
      font-size: 16;
      color: $did-color-primary;
      margin-bottom: 16;
    }
  }
}

GridLayout.not-find {
  Label {
    font-size: 16;
    text-align: center;
    &.no_content_label {
      color: $did-color-medium;
    }
  }
}
