@import '../../scss/colors';

GridLayout.not-find {
  padding-top: 16;
  height: 100%;
  Label {
    font-size: 16;
    text-align: center;
    &.no_content_label {
      color: $did-color-medium;
    }
    &.no_content_label_clique {
      color: $did-color-primary;
    }
  }
}

StackLayout.Page {
  background-color: $did-color-light;
  GridLayout {
    ScrollView {
      StackLayout {
        padding: 8;
      }
    }
  }
}
