<StackLayout class="Page">
  <did-toolbar title="POSTiT!"></did-toolbar>
  <GridLayout columns="*" rows="*">
    <ScrollView [scrollBarIndicatorVisible]="false" col="0" row="0">
      <StackLayout>
        <ng-container *ngIf="!postits.length">
          <GridLayout class="not-find" columns="*" rows="*,auto,auto,*">
            <Label col="0" row="1" text="Nenhuma Categoria." class="no_content_label"></Label>
            <Label col="0" row="2" text="Clique aqui para criar uma." class="no_content_label_clique" (tap)="navigateToRegisterCategory()"></Label>
          </GridLayout>
        </ng-container>
        <ng-container *ngIf="postits.length">
          <WrapLayout>
            <ng-container *ngFor="let postit of postits; let i = index; trackBy: postitTrackBy;">
              <did-card
                [count]="postit.count"
                [name]="postit.name"
                (emitTap)="onClickItem(postit)"
              ></did-card>
            </ng-container>
          </WrapLayout>
        </ng-container>
      </StackLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
