$did-color-primary: #19414d;
$did-color-primary-light: #325862;
$did-color-secondary: #c3f44d;

$did-color-contrast-one: #e6dff6;
$did-color-contrast-one-dark: #cbbaf3;
$did-color-contrast-two: #ebfaef;
$did-color-contrast-two-dark: #64d386;
$did-color-contrast-three: #faf3eb;
$did-color-contrast-three-dark: #cfa677;

$did-color-lightner: #ffffff;
$did-color-light: #f5f6fa;
$did-color-medium: #9798a5;
$did-color-dark: #000000;

$did-color-success: #c3f44d;
$did-color-error: #f44d4d;

:host {
  --did-color-primary: #e40a0a;
  --did-color-primary-light: #325862;
  --did-color-secondary: #ffffff;

  --did-color-contrast-one: #e6dff6;
  --did-color-contrast-one-dark: #cbbaf3;
  --did-color-contrast-two: #faf3eb;
  --did-color-contrast-two-dark: #64d386;
  --did-color-contrast-three: #ebfaef;
  --did-color-contrast-three-dark: #cfa677;

  --did-color-lightner: #ffffff;
  --did-color-light: #c4c4c4;
  --did-color-medium: #878897;
  --did-color-dark: #000000;

  --did-color-success: #c3f44d;
  --did-color-error: #f44d4d;
}
