@import '../../../scss/colors';

:host {
  --toolbar-padding: 4 16;
  --toolbar-margin: 0;
  --font-color: var(--did-color-secondary);
  --font-size: 14;
  --font-weight: bold;
  --font-family: 'Montserrat', 'Montserrat-Bold';
  --text-transform: uppercase;
  --primary-color: var(--did-color-primary);
  --secondary-color: var(--did-color-primary);
  --layout-gradient-direction: to right;

  --icon-font-size: 16;
  --icon-background-color: transparent;
  --icon-margin: 0;
  --icon-text-align: left;
  --icon-width: 30;

  --label-font-size: 28;
  --label-text-transform: unset;
  --label-background-color: transparent;
}

GridLayout.toolbar {
  background-color: var(--primary-color);
  background: linear-gradient(var(--layout-gradient-direction), var(--primary-color), var(--secondary-color));
  padding: var(--toolbar-padding);
  margin: var(--toolbar-margin);
  Button.icon {
    color: var(--font-color);
    font-size: var(--icon-font-size);
    background-color: var(--icon-background-color);
    margin: var(--icon-margin);
    text-align: var(--icon-text-align);
    width: var(--icon-width);
  }
  Label.title {
    color: var(--font-color);
    font-size: var(--label-font-size);
    font-weight: var(--font-weight);
    text-transform: var(--label-text-transform);
    background-color: var(--label-background-color);
    font-family: var(--font-family);
  }
}
