<RadSideDrawer
  [allowEdgeSwipe]="false"
  shadowColor="#000000"
  [drawerTransition]="sideDrawerTransition"
>
  <GridLayout class="menu" tkDrawerContent rows="54,*" columns="*">
    <StackLayout class="menu-header" col="0" row="0"></StackLayout>
    <ScrollView col="0" row="1">
      <GridLayout rows="auto,auto,*,auto" columns="*" class="menu-content">
        <GridLayout
          col="0"
          row="0"
          columns="auto, *"
          [class.selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Label col="0" text="&#xf015;" class="menu-icon fas"></Label>
          <Label col="1" text="POSTiT!" class="menu-label"></Label>
        </GridLayout>
        <GridLayout
          col="0"
          row="1"
          columns="auto, *"
          [class.selected]="isComponentSelected('/category')"
          (tap)="onNavItemTap('/category')"
        >
          <Label col="0" text="&#xf1ea;" class="menu-icon far"></Label>
          <Label col="1" text="Categorias" class="menu-label"></Label>
        </GridLayout>
        <GridLayout
          last-child
          col="0"
          row="1"
          columns="auto, *"
          [class.selected]="isComponentSelected('/questions')"
          (tap)="onNavItemTap('/questions')"
        >
          <Label col="0" text="&#xf1ea;" class="menu-icon far"></Label>
          <Label col="1" text="Perguntas" class="menu-label"></Label>
        </GridLayout>
        <GridLayout version col="0" row="3" columns="*,auto">
          <Label col="1" [text]="appVersion" class="menu-version"></Label>
        </GridLayout>
      </GridLayout>
    </ScrollView>
  </GridLayout>

  <GridLayout tkMainContent>
    <page-router-outlet actionBarVisibility="never"></page-router-outlet>
  </GridLayout>
</RadSideDrawer>
