@import '../colors';

:host {
  --width: 100%;
  --margin-bottom: 16;

  --label-font-size: 16;
  --label-color: var(--did-color-primary);

  --text-border-bottom-width: 1;
  --text-border-bottom-color: var(--did-color-primary-light);
  --text-color: var(--did-color-medium);
  --text-placeholder-color: var(--did-color-light);
}

GridLayout.list-item {

}
