@import '../colors';

:host {
  --background-color: var(--did-color-secondary);
  --color: var(--did-color-primary);
  --font-weight: bold;
  --text-transform: uppercase;
}

Button {
  border-radius: 50;
  background-color: var(--background-color);
  color: var(--color);
  font-weight: var(--font-weight);
  text-transform: var(--text-transform);
}
